GRADUATION REQUIREMENTS
Degree Requirements
Students are required to fulfill the following requirements in order to be eligible for a
Bachelor’s degree:
• Completing all required credits for the degree;
• Fulfilling satisfactorily all course requirements for the degree as well as remedial/
intensive courses given upon admission;
• Fulfilling all other admission requirements;
• Satisfying the residency requirements for the degree;
• Maintaining the required minimum cumulative GPA for the major and core
courses required for the degree, as specified by the Department concerned;
• Maintaining good academic discipline; and
• Settling all accounts with the University.
These conditions must be met together with the degree requirements in effect during
the semester of the student’s first registration at NDU. This shall also apply to reinstated
students. Readmitted students, however, must meet the degree requirements in effect
during the semester of their readmission, unless their readmission letter states otherwise.
Students who do not have the required cumulative GPA of 2.0/4.0 for the degree and/or
the required cumulative GPA for the major and core courses required for the degree, but
have completed all other requirements, may repeat up to 5 courses, as approved by the
academic advisor, to meet the required numerical level(s).
Diplomas are only issued once.
Second Degree Requirements
A student with a Bachelor’s degree may register for another degree at NDU after being
accepted by the University. Such a student must:
• Satisfy all the MEHE and program requirements of the new degree;
• Satisfy all the requirements for the new degree in accordance with the statements
of Section I of this policy;
• Have a residency of at least 50% of the regular residency requirements of the
concerned program;
• Complete at least 50% of the second degree requirements including LAC and free
elective courses; and
• Architecture and FE Students must fulfill a minimum residency requirement of 125
credits with a minimum cumulative GPA of 2.0/4.00.