TEACHING DIPLOMA REQUIREMENTS
A holder of the official Lebanese Baccalaureate Part II or its equivalent will be eligible for
a Teaching Diploma upon completing satisfactorily at least 21 credits beyond his or her
Bachelor’s degree with a cumulative GPA of at least 2.0/4.0