RESIDENCY REQUIREMENTS
Residency Requirements for Bachelor of Arts, Bachelor of Science, Bachelor of Business
Administration, and Bachelor of Hotel Management
There are two kinds of Government Regulations for the BA, BS, BA, BHM:
1. Minimum Residency: A minimum of 8 semesters of residency is required,
beginning with the Freshman Class, or 6 semesters beginning with the
Sophomore Class. Two Summer sessions are equivalent to one regular semester.
This period of time must be spent at a recognized and accredited institution
of higher education; however, at least 50% of the credits requirement must
be completed at NDU with a cumulative GPA of 2.0/4.0, in addition to all other
graduation requirements for the degree.
2. Maximum Residency: A maximum of 16 semesters of residency is allowed,
beginning with the Freshman Class, and 12 semesters, beginning with the
Sophomore Class.
Residency Requirements for the Bachelor of Engineering
A minimum of 10 semesters and a maximum of 20 semesters, in addition to all
requirements listed under the Office of Admissions.
Residency Requirements for the Bachelor of Architecture
A minimum of 10 semesters and a maximum of 20 semesters, in addition to all
requirements listed under the Office of Admissions.
Residency Requirements for the Bachelor of Law
1. A minimum of 8 semesters and a maximum of 16 semesters.
2. At least the last 50 % of the degree requirements must be completed at NDU in
addition to all other graduation requirements for the degree.