FRESHMAN ADMISSION REQUIREMENTS
Students who secure written authorization to pursue their higher education based
on a foreign program from the Equivalence Committee at the Lebanese Ministry of
Education and Higher Education (MEHE) may apply to join the Freshman Class. They
must hold a High School Diploma from a school recognized by the MEHE. Applicants
to the Freshman Class are required to take the Scholastic Aptitude Test (SAT) before
registration, as required by the MEHE, to secure the equivalence of the Lebanese
Baccalaureate Part II.
Note: To receive the Lebanese Baccalaureate Part II equivalence, Freshman students must
successfully complete at least 30 credits at the Freshman level and obtain the required minimum
SAT scores of 870 for Freshman Arts and 950 for Freshman Sciences.
Students may not be considered for Sophomore standing before completing all Freshman
requirements. Some majors may require specific freshman courses, and students are invited to
check with their advisor to select the right freshman courses depending on their prospective major.