SOPHOMORE AND FIRST-YEAR ADMISSION REQUIREMENTS
To be eligible for the Sophomore or First-Year Class, applicants must hold the Lebanese
Baccalaureate Part II or its equivalence, as determined by the Lebanese Ministry of
Education and Higher Education. 
Applicants must secure the composite score (CS) required by the Faculties to be admitted to
their respective majors. This score is calculated by allocating 55% weight to the school averages
of the first two secondary years and 45% to the NDU Math Aptitude Test or SAT Math.