TRANSFER ADMISSION REQUIREMENTS
A transfer student is one who, after starting education at one institution of higher education,
seeks admission to another institution with the aim of earning an undergraduate degree.
Students holding the Lebanese Baccalaureate Part II or its equivalence and completing 12
credits at the sophomore level at an institution recognized by the Lebanese Ministry of
Education and Higher Education (MEHE) are eligible to transfer their credits matching courses
at NDU provided they have good academic standing (GPA 2.0/4.0 and above) or its equivalent
in other systems. Students from French/European system universities must successfully
complete all the years up until the end of the current academic year. After submitting the
application, transfer students must provide a recently issued official transcript. Courses graded
“C” or higher are considered for transfer depending on Faculty/Department requirements.
Transfer credits are not computed in the Cumulative GPA but marked as “Transfer.”
Transfer applicants must fill out and pay for the Undergraduate Application form online, then
submit official transcripts of records as well as courses’ descriptions officially issued by the
home university and/or copies of courses’ syllabi to the Office of Admissions.
The deadline for all undergraduate transfer applications conforms to Regular Admission III
session date.
NDU has in place a minimum residency requirement of at least 50% of the total number
of credits required for the different majors offered at NDU. Faculties reserve the right to
accept or reject the transfer of courses.
Students currently enrolled at NDU may transfer credits from another MEHE-recognized
institution of higher education on condition to provide additional inputs within the first
semester of enrollment.