ADMISSION REQUIREMENTS FOR SECOND DEGREE SEEKERS
Students holding a university degree from an educational institution recognized by MEHE
may apply for a second degree. The Transfer Admission Requirements listed above,
especially the residency requirements, will apply to Second Degree seekers.