ADMISSION REQUIREMENTS FOR SPECIAL STUDENTS
Students who are not working toward a degree are considered Special Students.
Applicants must fill out and pay for the Undergraduate Application form online, then
submit all required documents to the Office of Admissions. To be admitted, applicants
must be undergraduate university-level students or pursuing undergraduate studies at
another institution of higher education. Special status is granted on a semester basis.
Thereafter, students who fulfill all admission requirements, including passing the required
entrance exam(s) when applicable, may petition for “Regular Student Status.”