ADMISSION REQUIREMENTS FOR AUDITORS
Students applying as Auditors attend lectures but are not required to submit any coursework or sit
for exams. As such, they do not earn credits for courses completed but are entitled to a statement
of enrollment upon request. Auditors must fill out and pay for the Undergraduate Application
form online, then submit all required documents to the Office of Admissions. Applicants must be
undergraduate university-level students. If not, their files are considered on an individual basis.