ADMISSION REQUIREMENTS FOR TEACHING DIPLOMA
Applicants holding a bachelor’s degree can apply for the Teaching Diploma in the same
area of specialization or as mandated by the Lebanese Ministry of Education and Higher
Education. All applicants must fill out and pay for the Undergraduate Application form
online, then submit all required documents to the Office of Admissions.