ADMISSION REQUIREMENTS FOR UNIVERSITY EMPLOYEES
NDU employees who request admission to an undergraduate program of study must meet
the admission requirements of the respective Faculty. Employees are considered regular
applicants and must abide by University policies and procedures.
ADMISSION REQUIREMENTS FOR FRENCH, INTERNATIONAL, AND
LEBANESE BACCALAUREATE STUDENTS
All applicants must meet the Math proficiency and Composite Score requirements of the
Faculty to be admitted to its respective majors. Accordingly, remedial courses may be
given upon admission.