ENGLISH PROFICIENCY REQUIREMENTS
All applicants must satisfy a minimum level of English proficiency to be admitted. NDU
recognizes the following tests:
• The English Entrance Test (EET) administered by NDU;
• Test of English as Foreign Language (TOEFL);
• SAT Evidence-Based Reading and Writing; and
• International English Language Testing System (IELTS) Score.
A student must pass the EET with a minimum score of 60 to be admitted without
remedial English courses.
Below are the required English courses along with their corresponding EET score ranges.
EET Score Ranges Accepted Corresponding English Courses
60 and above Accepted ENL 213 (Sophomore Level)
55 - 59 Accepted ENL 110 (3 credits - Remedial)
50 - 54 Accepted ENL 1051
 (3 credits - Remedial)
40 - 49 Accepted ENL 0022
 (9 credits - Intensive)
A student must pass the TOEFL iBT with a minimum score of 91 to be admitted without
remedial English courses.
Below are the required English courses along with their corresponding internet-based
TOEFL score ranges.
TOEFL iBT Score Ranges Accepted Corresponding English Courses
91 and above Accepted ENL 213 (Sophomore Level)
79 - 90 Accepted ENL 110 (3 credits - Remedial)
69 - 78 Accepted ENL 1051
 (3 credits - Remedial)
54 - 68 Accepted ENL 0022
 (9 credits - Intensive)
 A student must pass the SAT Evidence-Based Reading and Writing section with a
minimum score of 540 to be admitted without remedial English courses.
Below are the required English courses along with their corresponding SAT EvidenceBased Reading and Writing score ranges.
SAT Evidence-Based Accepted Corresponding English Courses
Reading and Writing Score Ranges
540 and above Accepted ENL 213 (Sophomore Level)
490 – 530 Accepted ENL 110 (3 credits - Remedial)
430 – 480 Accepted ENL 1051
 (3 credits - Remedial)
400 – 420 Accepted ENL 0022
 (9 credits - Intensive)
A student must pass the IELTS with a minimum score of 6.5 to be admitted without
remedial English courses.
Below are the required English courses along with their corresponding IELTS score
ranges.
IELTS Score Ranges Accepted Corresponding English Courses
6.5 and above Accepted ENL 213 (Sophomore Level)
6 Accepted ENL 110 (3 credits - Remedial)
5.5 Accepted ENL 1051
 (3 credits - Remedial)
5 Accepted ENL 0022
 (9 credits - Intensive)