GENERAL ADMISSION REQUIREMENTS
Applicants must hold the Lebanese Baccalaureate Part II, or its equivalence, as
determined by the Lebanese Ministry of Education and Higher Education.
 Student selection depends on the following assessment tools:
• TOEFL, SAT Evidence-Based Reading and Writing, IELTS, or EET;
• SAT Math or NDU Math Aptitude Test; and
• Grades of the last Three Years of Secondary School.
Applicants must meet the composite score (CS) requirements of the Faculty to be
admitted to its respective majors. This score is calculated by allocating 55% weight to the
school averages of the first two secondary years and 45% to the NDU Math Aptitude Test
or SAT Math.
FACULTY OF NURSING AND HEALTH SCIENCES (FNHS)
Applicants to BS-Food Safety and Quality Management holding the Baccalaureate Part II
in one of the strands of Social Sciences and Economics or Literature and Humanities or
its equivalent as determined by the Lebanese Ministry of Education and Higher Education
and those holding the International or French Baccalaureate who didn’t take any Math
course in G12/S3 are subject to one Mathematics remedial course upon admission, MAT
111, irrespective of the CS.